.card
  .card-content(ng-if='!ctrl.avaliando')
    .row(ng-if='!buscando')
      .col.s12
        h5 Escolha o Aluno
    .row(style='margin-bottom: 0')
      .col.s12.m6.input-field
        i.material-icons.prefix search
        input#filtro(type='text' ng-model='ctrl.filtro' ng-focus='buscando = true')
    .row      
      pessoa-avatar(ng-repeat='pessoa in ctrl.pessoas | filter: ctrl.filtro' pessoa='pessoa' ng-click='ctrl.iniciar(pessoa)')    
  .card-content(ng-show='ctrl.avaliando')
    
    pessoa-avatar(pessoa='ctrl.pessoaSelecionada')
    .row
      .col.s12.m4.input-field
        label(for='kihon') Kihon
        input(type='number' ng-model='ctrl.registro.kihon')
      .col.s12.m4.input-field
        label(for='kata') Kata
        input(type='number' ng-model='ctrl.registro.kata')
      .col.s12.m4.input-field
        label(for='kumite') Kumite
        input(type='number' ng-model='ctrl.registro.kumite')
    .row
      .col.s12.input-field
        textarea.materialize-textarea#obs(ng-model='ctrl.registro.observacao')
        label(for='obs') Observação
    .row
      .col.s12
        button.btn.right.waves-effect.waves-light(ng-click='ctrl.concluir()') Concluir
        a.btn-flat.right.waves-effect.waves-light(ng-click='ctrl.voltar()') Voltar      
