doctype html
html(ng-app='app')
  head
    title AMKS    
    link(rel='stylesheet', href='/lib/Materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
  body
    block content
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/Materialize/dist/js/materialize.min.js')
    script(src='/lib/angular/angular.min.js')
    script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/lib/angular-ui-select/dist/select.min.js')
    script(src='/lib/angular-sanitize/angular-sanitize.js')

    script(src='/js/app.js')
    script(src='/js/components/faixas.js')
    script(src='/js/components/pessoa-avatar.js')
    script(src='/js/main.controller.js')
    script(src='/js/pessoaEdicao.ctrl.js')
    script(src='/js/pessoaLista.ctrl.js')
    script(src='/js/pessoa.service.js')

    script(src='/js/avaliacao.ctrl.js')
    script(src='/js/avaliacaoListaCtrl.js')

  
